/* Navbar.css */
nav {
    background-color: #f8f9fa;
    /* change as needed */
    border-bottom: 1px solid #e0e0e0;
    /* change as needed */
    padding: 10px 0;
    /* change as needed */
    position: fixed;
    /* Add this */
    width: 100%;
    /* Add this */
    top: 0;
    /* Add this */
    z-index: 100;
    /* Add this */
    left: 0px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    /* evenly space the links */
}

nav ul li a {
    color: #333;
    /* change as needed */
    text-decoration: none;
}

nav ul li a:hover {
    color: #007bff;
    /* change as needed */
}